body {
  background-color: #f5f5f5;
  color: #3E5165;
  font-family:arial;
  padding-bottom: 40px;
  margin-top: 100px;
}

#chartContainer {
  border:1px silver solid;
  box-shadow: 2px 2px 5px silver;
}
.random {
  font-size:50px;
}
.btn a {
  color: white;
}
a:hover {
  text-decoration: none;
}
.zone {
  overflow-y: scroll;
  max-height: 300px;
  margin-top:20px;
  margin-bottom: 20px;
}

.fat {
  font-weight: 100;
}

ul li {
  list-style-type: none;
  margin-bottom:2px ;
  margin: 0;
  padding: 0;
}

#profil ul li:first-child {
  margin-bottom: 10px;
  font-size: 24px;
}
#espace ul,
#content ul {
  margin-left: 20px;
  padding: 0;
}

img.thumbnail{
  margin: 0;
  height: 150px;
  border: 1px silver solid;
  max-width: 200px;
  box-shadow: 10px 10px 5px silver;

}

#profil {
  border-radius: 6px;
  margin-bottom: 26px;
  padding-bottom: 20px;
  font-size: 14px;
}
.modifier {
  margin-bottom: 20px;


}

.bonjour {
  margin-bottom: 40px;
  margin-left: 15px;
}



h3 {
  color: #00AEEF;
  font-weight:600;
  font-family: arial narrow;
  border-bottom: 1px #D5DED9 solid;
  border-radius: 4px;
  width: 500px;
  margin-bottom: 20px;
  margin-top: 0;

}

.dropdown-toggle {
  font-family: arial narrow;

}
form {
  margin-top:40px;
  margin-bottom: 40px;
}
.pseudo {
  font-weight: 100;
  color: #18A497;
}

.light {
  font-weight: 100;
  color: #286090;
  font-size: 17px;

}

 #espace a:hover {
  text-decoration: none;
}

#veille {
border-radius: 2px;
border: 1px #BDC3C7 solid;
height: 190px;
background-color: #FFFFFF;
margin-bottom: 20px;
box-shadow: 6px 6px 5px silver;

}
.subject {
  overflow:hidden;
  max-height: 70px;
  height: 60px;
  padding: 0px 10px 0px 10px;
  margin-bottom: 6px;
}


#veille:hover {
  border: 1px #00AEEF solid;
  transition: 0.2s;
}

#veille h4:hover {
  color:#0BB0C4;
}


.dark {
  color: #85BEB8;
}

 #content ul {
  margin: 0;
}
.nom{
  color: #4B5F83;
  margin: 0;
  font-size: 20px;
  font-family: arial narrow;
  margin-top: 2px;
  margin-bottom: 8px;
  font-weight: 100;
}



.error {
  color: red;
  font-size: 15px;

}
.sujet {
  clear: both;
  font-family: arial narrow;
  font-size: 16px;
}
.titre1 {
  color: #005F6B;
  font-weight: 600;
  font-family: arial narrow;
  width: 120px;
  display: inline-block;
}
  .titre {
    color: #005F6B;
    font-weight: 600;
    font-family: arial narrow;
  }

.head {
  text-align: center;
  margin: auto;
}
.id {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px #00AEEF solid;
  max-height: 80px;
  height: 80px;
  padding:10px;
  background-color: #CBE6C3;
}

.heure{
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 10px
}

#veille_membre,
#popschoolers {
  border: 1px silver solid;
  padding: 10px;
  margin-bottom: 20px;
  height: 80px;
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 6px 6px 5px silver;
}
#popschoolers:hover {
  border: 1px #02AFEF  solid;

}
#popschoolers {
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.num {
  font-weight: 600;
  color:#286090;
  text-align: center;
  margin-top: 10px;
}

.sujet_img,
.key_img,
.ext_img,
.desc_img,
.time_img {
  margin-right: 10px;
}


.name {
  margin-top: 10px;
}
.school {
  color: #00AEEF;
  font-weight: 600;
}
.contenu,
.com {
  border: 1px solid silver;
  margin-top: 20px;
  border-radius: 2px;
  padding: 20px;
  margin-bottom: 40px;
  padding-top: 10px;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 6px silver;
}
.menu {
   color: #00AEEF;
  font-family: arial narrow;
  font-size: 18px;
}
.menu:hover {
  color: #fff;
}
.vote {
  font-weight: 600;
  font-size: 20px;
  color: red;
}

.com1 {
  border-left: 2px solid silver;
  padding-left: 10px;
  margin-bottom: 20px;
  max-height: 70px;
  border-radius: 5px;
}

.key {
  margin: 0;
}
.categorie {
  margin-top: 40px;
  margin-bottom: 20px;
}

.personne {
  max-width:50px;
  max-height: 70px;
  border-radius: 2px;
  float: left;
  margin-right: 15px;
  background-color: #F0F6C6;
  padding: 1px;
  border-radius: 2px;
  border: 1px #85BEB8 solid;
  margin-bottom: 20px;
}
.rss {
  border : 1px solid silver;
  padding: 6px;
  box-shadow: 10px 10px 6px silver;
  background-color: #FFFFFF;
}

.task,
.select {
  height: 100px;
  background-color: #fff;
  padding: 20px;
  margin-top: 10px;
  border: 1px solid silver;
  box-shadow: 6px 6px 5px silver;
  border-radius: 2px;
}
.select {
  height: 300px;

}

.winner {
  color: #00AEEF;
  font-size: 40px;
  font-weight: 100;
}
#gif2,
#gif3,
#gif4,
#gif5,
#gif6 {
  width: 50px;
  height: 50px;
}
#task1,
#task2,
#task3,
#task4 {
  color: #00AEEF;
  font-size: 30px;
  font-weight: 100;
}

.kitchen {
  padding-left: 16px;
}
#gif {
  width: 100px;
  height: 100px;
}
.select1,
.select2 {
  height: 140px;
  margin-top: 40px;
}
